* {
	padding: 0;
	margin: 0;
	border: 0;
}

h3 {
	font-size: 10px;
}

body {
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Bellefair', serif;
}

.blended_grid {
	display: block;
	background-color: #D8D8D8;
	width: 100%;
	height: 100% overflow: auto;
	margin: 0 20 0 20;
}

.pageHeader {
	float: left;
	clear: none;
	height: 15%;
	width: 100%;
	font-family: 'Bellefair', serif;
}

.glyphicon {
	font-size: 15px;
}

.pageLeftMenu {
	float: left;
	clear: none;
	height: 70%;
	width: 20%;
	font-size: 20;
	font-family: 'Bellefair', serif;
}

.pageContent {
	float: right;
	clear: none;
	height: 70%;
	width: 80%;
	font-family: 'Bellefair', serif;
}

.pageFooter {
	float: left;
	clear: none;
	height: 15%;
	width: 100%;
	font-family: 'Bellefair', serif;
}

.list-group-item {
	font-family: 'Bellefair', serif;
}

path.link {
	fill: none;
	stroke: #666;
}

path.textpath {
	fill: none;
	stroke: none;
}

marker#end {
	fill: green;
}

.checkbox {
	position: relative;
	display: block;
	width: 80px;
	height: 26px;
	margin: 0 auto;
	background: #FFF;
	border: 1px solid #2E2E2E;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

span {
	margin-right: 10px;
	margin-left: 10px;
}

.custom-search-form {
	float: right;
	width:45%;
	margin-top: 5px;
}