* {
	padding: 0;
	margin: 0;
	border: 0;
}

h3 {
	font-size: 10px;
}


body {
	background-attachment: fixed;
	background-size: 100%;
	font-family: 'Bellefair', serif;
}

.blended_grid {
	display: block;
	background-color: #D8D8D8;
	width: 100% overflow: auto;
	height: 100% overflow: auto;
}

.pageHeader {
	float: left;
	clear: none;
	height: 15%;
	width: 100%;
	font-family: 'Bellefair', serif;
}

.glyphicon {
	font-size: 15px;
}

.pageLeftMenu {
	margin-top: 30px;
	float: left;
	clear: none;
	height: 70%;
	width: 20%;
	font-size: large;
	font-family: 'Bellefair', serif;
}

.pageContent {
	float: right;
	clear: none;
	height: 70%;
	width: 80%;
	font-family: 'Bellefair', serif;
}

.pageFooter {
	float: left;
	clear: none;
	height: 15%;
	width: 100%;
	font-family: 'Bellefair', serif;
}

.list-group-item {
	font-family: 'Bellefair', serif;
}

path.link {
	fill: none;
	stroke: #666;
}

path.textpath {
	fill: none;
	stroke: none;
}

marker#end {
	fill: green;
}

.checkbox {
	position: relative;
	display: block;
	width: 80px;
	height: 26px;
	margin: 0 auto;
	background: #FFF;
	border: 1px solid #2E2E2E;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

span {
	margin-right: 10px;
	margin-left: 10px;
}

.custom-search-form {
	float: right;
	width: 45%;
<<<<<<< HEAD
	margin-top: 5px;
	margin-rigth: 20px;
}

.alertify-notifier .ajs-message.ajs-error {
	background: #337ab7;
}

=======
	font-size: large;
	padding: 40px;
}

#busqueda {
	font-size: large;
}

.alertify-notifier .ajs-message.ajs-error {
	background: #337ab7;
}

>>>>>>> feature/graph
.alertify-notifier .ajs-message {
	font-family: 'Bellefair', serif;
}

.alertify-notifier.ajs-right .ajs-message.ajs-visible {
	left: 1300px;
}